.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.alert {
  width: 100%;
  height: 40px;
  margin: 5px 0 25px;
}
.alert p {
  background-color: #ffebeb;
  color: #f33466;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .form input {
    width: 90%;
  }
  .form button {
    width: 90%;
  }
}
.search {
  width: 90%;
  margin: 10px 0 20px;
  height: 40px;
  padding: 10px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  font-size: 1rem;
  color: #304fff;
}


@media (max-width: 500px) {
  .inputGroup {
    width: 90%;
  }
}
.form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
