.container {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container h3 {
  color: #304ffe;
  font-size: 1.5rem;
  text-align: center;
}


.container ul {
  display: flex;
  flex-wrap: wrap;   
  justify-content: center;
  list-style: none;
  gap: 15px;
  width: 100%;
  max-width: 900px;    
  padding: 0;
  margin-top: 20px;
}

.container ul li {
  flex: 1 1 270px;
  max-width: 450px;
  padding: 5px;
}
