.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}

.modal {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  animation: popUp 0.3s ease forwards;
  transform-origin: center;
}

.modal p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: space-around;
}
.confirm {
  background-color: #f33466;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.cancel {
  background-color: #ccc;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}